.quotation-background {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(circle, #0170c7 0%, #004882 150%);
}

.quotation-background-decoration {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../libs/background.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}

.quotation-display {
    padding: 40px;
    width: 800px;
    margin: 0 auto;
    color: #fff;
    z-index: 1;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
}

.author {
    text-align: right;
}

.change-language {
    padding: 10px 40px;
    cursor: pointer;
    color: #fff;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 1.5rem;
    font-weight: 100;
}

.blur-control {
    display: block;
}